# React
frontend/node_modules/
frontend/dist/

# Laravel
backend/vendor/
backend/node_modules/

# Environment files
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
!frontend/.env.example
IDS/backend/.env
IDS/backend/.env.*
IDS/frontend/.env
IDS/frontend/.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db